<div class="home-screen" ng-controller="HomeController" ng-init="initialize()">
    <div>
        <div class="user-info-label">Default User File Path </div>
        <div class="user-info-control">
            <input class="form-control file-path-input" type="text" id="file-path" ng-model="FilePath" />
        </div>
        <div class="user-info-control">
            <button class="btn btn-sm btn-success" ng-click="setDefaultUserInfoFilePath()">Set File Path</button>
        </div>
        <div class="user-info-control">
            <button class="btn btn-sm btn-primary" ng-click="getDefaultUserInfoFilePath()">Get File Path</button>
        </div>
    </div>

    <div class="user-info-section">
        <div class="user-info-cell">
            <div class="user-info-label">User Id</div>
            <div class="user-info-control">
                <input class="form-control" type="number" ng-model="selectedUser.UserId" />
            </div>
        </div>
        <div class="user-info-cell">
            <div class="user-info-label">Nt Login</div>
            <div class="user-info-control">
                <input class="form-control" type="text" ng-model="selectedUser.NtLogin" />
            </div>
        </div>
        <div class="user-info-cell">
            <div class="user-info-label">Description</div>
            <div class="user-info-control">
                <input class="form-control" type="text" ng-model="selectedUser.Description" />
            </div>
        </div>

        <div>
            <button class="btn btn-warning" ng-click="clearUserInfo()">Clear</button>
            <button class="btn btn-success" ng-click="saveUser()">Save</button>
        </div>
    </div>

    <div ng-show="users && users.length > 0">
        <table class="table table-bordered table-responsive table-striped user-info-table">
            <thead>
                <tr>
                    <th ng-click="sortBy('UserId')" class="text-center user-info-table-userid">User Id<span class="sortorder" ng-show="propertyName === 'UserId'" ng-class="{reverse: reverse}"></span></th>
                    <th ng-click="sortBy('NtLogin')" class="user-info-table-ntlogin">Nt Login<span class="sortorder" ng-show="propertyName === 'NtLogin'" ng-class="{reverse: reverse}"></span></th>
                    <th ng-click="sortBy('Description')">Description<span class="sortorder" ng-show="propertyName === 'Description'" ng-class="{reverse: reverse}"></span></th>
                    <th class="text-center user-info-table-action">Action</th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="user in users | orderBy:propertyName:reverse" ng-dblclick="selectUser(user)">
                    <td class="text-center" ng-bind="user.UserId"></td>
                    <td ng-bind="user.NtLogin"></td>
                    <td ng-bind="user.Description"></td>
                    <td class="text-center">
                        <button ng-show="!user.IsDefault" class="btn btn-sm btn-danger" ng-click="removeUser(user.UserId)">Delete</button>
                        <button ng-show="!user.IsDefault" class="btn btn-sm btn-primary" ng-click="setUserDefault(user.UserId)">Set Default</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="text-right text-info text-small">Double click row for update!</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

